.fusion-content-boxes.content-boxes-icon-with-title.recipe-content-box {
    .content-box-wrapper {
        border: 2px solid #50C878;
        border-radius: 6px;
    }
    .heading-with-icon {
        display: flex;
    }
}

.recipe-horizontal-content-boxes {
    .content-box-wrapper {
        border: 2px solid #50C878;
        border-radius: 6px; 
    }
}